<h1> This Cat </h1>
<ul>
<li><%= @cat.name %></li>
<li><%= @cat.age %></li>
<li><%= @cat.sex %></li>
<li><%= @cat.color %></li>
<li><%= @cat.description %></li>
</ul>

<a href=<%=cats_url%>>Link to all cats</a>